# Database Configuration
# Leave empty for SQLite (development)
# For production PostgreSQL, use: postgresql://user:password@host:port/dbname
DATABASE_URL=mongodb+srv://sudhama07pmk_db_user:trinity@07@cluster0.xsq4hkp.mongodb.net/tapsyncpro?appName=Cluster0

# Flask Configuration
FLASK_ENV=production
SECRET_KEY=49f34ee55cce33136be3bfc245d567de2517c96c4044734fe184c934cc29329b

# Server Configuration (Local Development Only)
HOST=0.0.0.0
PORT=5000

