# Database Configuration
# Leave empty for SQLite (development)
# For production PostgreSQL, use: postgresql://user:password@host:port/dbname
DATABASE_URL=postgresql://neondb_owner:npg_g4GXm5ZExlMu@ep-wispy-unit-anisraru.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require

# Flask Configuration
FLASK_ENV=production
SECRET_KEY=49f34ee55cce33136be3bfc245d567de2517c96c4044734fe184c934cc29329b

# Server Configuration (Local Development Only)
HOST=0.0.0.0
PORT=5000

